models/*
!models/README.txt
!models/model_structure.png


datasets/*
!datasets/README.txt


concate/*
!concate/dataset_leave_one_out.py
!concate/image_utils.py
!concate/Networks.py
!concate/test_leave_one_out.py
!concate/train_body_leave_one_out.py
!concate/train_face_leave_one_out.py
!concate/train_fc_layer.py